<div class="py-4">
  <h1 class="title"><%= title %></h1>
  <span style="color:gray; font-size:small">Powered by <a href="https://github.com/ignacio-chiazzo/ruby_whatsapp_sdk">Ruby Whatsapp SDK </a></span>
</div>